body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.header {
    background-color: #e50914;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e50914;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0f27;
}

.movie {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.movie h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.movie p {
    margin-top: 5px;
    margin-bottom: 0;
}

.movie-details {
    font-style: italic;
    color: #777777;
}