html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}


body{
    background-image: url('./moviee.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    z-index: 1;
  }

  main{
    position: relative;
    z-index: 2;
   
  }
  

h1 {
    text-align: center;
    margin: 50px 0;
    color: #e50914;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 span {
    color: #f8f8f8;
    font-size: 38px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6%;
}

.left-column {
    width: 35%;
    flex: 1;
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
}

.right-column {
    width: 55%;
    flex: 2;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #da3f3f;
}

.left-column img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #c1d4e4;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.left-column img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.movie-description {
    border-bottom: 2px solid #E1E8EE;
    margin-bottom: 25px;
    padding-bottom: 20px;
    font-size: 12px;

}

.movie-description span {
    font-size: 15px;
    color: #e50914;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.movie-description h2 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 15px 0;
}

.movie-description p {
    font-size: 20px;
    font-weight: 300;
    color: rgb(48, 218, 218);
    line-height: 24px;
    margin-top: 15px;
}

.movie-details {
    margin-bottom: 25px;
}

.movie-details div {
    margin-bottom: 12px;
    font-size: 17px;
}

strong {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

a {
    display: inline-block;
    background-color: rgb(240, 27, 27);
    padding: 12px 20px;
    color: #f7f7f7;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    margin-top: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

a:hover {
    background-color: #d92020;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .left-column {
        max-width: 350px;
    }

    .right-column {
        padding-left: 25px;
    }
}

