html,
body {
  background-color: #1f1f1f;
  color: #ffffff;
}

.img{
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container h1 {
  color: rgb(236, 29, 29);
  font-size: 40px;
  font-weight: 600;
}

#results {
  margin-top: 20px;
  margin-left: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.row p{
  font-size: 14px;
}