<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Suggestions</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/stylle.css">
</head>

<body>
  <div class="container">
    <div class="img">
      <img
        src="https://images.ctfassets.net/y2ske730sjqp/wXQuYIpMOFBkAKGgTJmBu/1708a448bbd1c0b48e7a44a6485788c4/BrandAssets_Logos_03-ClearSpace_02.jpg?w=460"
        alt="">
    </div>
    <h1 class="text-center my-5">Netflix GPT</h1>
    <div class="row mb-4">
      <div class="col-md-6 offset-md-3">
        <p>Type or select a genre from the dropdown</p>
        <div class="input-group">
          <label for="genre" class="visually-hidden">Select Genre :</label>
          <select id="genre" class="form-select">
            <option value="action">Action</option>
            <option value="romantic">Romantic</option>
            <option value="horror">Horror</option>
            <option value="thriller">Thriller</option>
            <option value="new">New</option>
            <option value="trending">Trending</option>
            <option value="comedy">Comedy</option>
            <option value="drama">Drama</option>
            <option value="sci-fi">Sci-Fi</option>
            <option value="fantasy">Fantasy</option>
            <option value="documentary">Documentary</option>
            <option value="animation">Animation</option>
            <option value="adventure">Adventure</option>
            <option value="crime">Crime</option>
            <option value="family">Family</option>
            <option value="mystery">Mystery</option>
            <option value="musical">Musical</option>
            <option value="biography">Biography</option>
            <option value="historical">Historical</option>
            <option value="sports">Sports</option>
            <option value="superhero">Superhero</option>
            <option value="docuseries">Docuseries</option>
            <option value="reality">Reality</option>
            <option value="psychological">Psychological</option>
            <option value="war">War</option>
          </select>

          <button id="submit-btn" class="btn btn-primary">Get Suggestions <i
              class="fa-solid fa-arrow-right"></i></button>
        </div>

      </div>

    </div>
    <div id="results" class="row" style="margin-left:25%;"></div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
  <script src="../static/app.js"></script>
</body>

</html>