<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Netflix Conversa -ai</title>
  <link rel="stylesheet" href="../static/index.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link rel="icon" href="http://pngimg.com/uploads/netflix/small/netflix_PNG15.png" />
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="navbar__brand">
        <img src="https://www.freepnglogos.com/uploads/netflix-logo-0.png" alt="logo" class="brand__logo" />
      </div>

      <div class="navbar__nav__items">
        <div class="nav__item">
          <div class="dropdown__container">
            <i class="fas fa-globe"></i>
            <select name="languages" id="languagesSelect" class="language__drop__down">
              <option value="english" selected style="color: black;">English</option>
              <option value="hindi" style="color: black;">हिन्दी</option>
            </select>
          </div>
        </div>

        <div class="nav__item">
          <button id="signInButton">Sign In</button>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <section class="hero">
      <div class="hero__bg__image__container">
        <img src="../static/netflixteaser.jpg" alt="BG hero image" class="hero__bg__image" />
        <div class="hero__bg__overlay"></div>
      </div>
      <div class="hero__card">
        <h1 class="hero__title">
          Netflix Conversa AI<br />
          Search, Find and more.
        </h1><br><br>
        <p class="hero__subtitle">Search Personalized List of movies / Tv series using ChatGPT AI.</p>
        <br><br>
        <p class="hero__description">
          Don't know what to watch? Use Netflix Recommendation System for desired TV series / Movies suggestions ML
          model and related recommendations.
        </p>
        <div class="container">
          <div class="loader"></div>
          <div class="loader"></div>
          <div class="loader"></div>
        </div>
        <div class="email__form__container" id="signInForm">
          <div class="form__container">
            <input type="email" id="email" class="email__input" placeholder="Email" />
          </div>
          <button class="primary__button" id="signIn">
            Sign In &nbsp; <i class="fal fa-chevron-right"></i>
          </button>
        </div>
        <br>
        <div id="foot">
          <h3>Watch anywhere. Cancel anytime.</h3>
          <p>Ready to Watch ? Search ? and for the Recommendation ? &nbsp; Enter your Email to create your memberhip.
          </p>
        </div>
      </div>
    </section>
  </main>

  <script type="module" src="../static/index.js"></script>
  <script src="https://www.gstatic.com/firebasejs/10.11.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/10.11.1/firebase-auth.js"></script>
  <script>
    // Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyCQorx3AlSCmJTNFqg0-XzJh5o3W0dmFtc",
      authDomain: "netflixconversaai.firebaseapp.com",
      projectId: "netflixconversaai",
      storageBucket: "netflixconversaai.appspot.com",
      messagingSenderId: "1003525164231",
      appId: "1:1003525164231:web:7c8c14f420912cadc8c2e2",
      measurementId: "G-YLVSW707J8"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>
</body>

</html>