<html>

<head>
  <meta name="description" content="Hello this is my first web page!." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/styles.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <title>Netflix Conversa-ai</title>
  <link rel="icon" href="http://pngimg.com/uploads/netflix/small/netflix_PNG15.png" />
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="navbar__brand">
        <img src="https://www.freepnglogos.com/uploads/netflix-logo-0.png" alt="logo" class="brand__logo" />
      </div>

      <div class="navbar__nav__items">

        <div class="nav__item">
          <a class="nav__items" href="https://research.netflix.com/research-area/recommendations">What ?</a>
          <a class="nav__items" href="./gpt.html">GPT Search</a>
          <a class="nav__items" href="indexa.html">ML Recomendation</a>
          <a class="nav__items" href="https://nextflix-azure.vercel.app/browse">Browse</a>
          <a class="nav__items " href="./aic.html">AI Chat</a>

          <button
            class="group helloa relative outline-0 bg-sky-200 [--sz-btn:50px] [--space:calc(var(--sz-btn)/5.5)] [--gen-sz:calc(var(--space)*2)] [--sz-text:calc(var(--sz-btn)-var(--gen-sz))] h-[var(--sz-btn)] w-[var(--sz-btn)] border border-solid border-transparent rounded-xl flex items-center justify-center aspect-square cursor-pointer transition-transform duration-200 active:scale-[0.95] bg-[linear-gradient(45deg,#efad21,#ffd60f)] [box-shadow:#3c40434d_0_1px_2px_0,#3c404326_0_2px_6px_2px,#0000004d_0_30px_60px_-30px,#34343459_0_-2px_6px_0_inset]">
            <svg
              class="animate-pulse absolute z-10 overflow-visible transition-all duration-300 text-[#ffea50] group-hover:text-white top-[calc(var(--sz-text)/7)] left-[calc(var(--sz-text)/7)] h-[var(--gen-sz)] w-[var(--gen-sz)] group-hover:h-[var(--sz-text)] group-hover:w-[var(--sz-text)] group-hover:left-[calc(var(--sz-text)/4)] group-hover:top-[calc(calc(var(--gen-sz))/2)]"
              stroke="none" viewBox="0 0 24 24" fill="currentColor">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z">
              </path>
            </svg>

            <span
              class="[font-size:var(--sz-text)] font-extrabold leading-none text-white transition-all duration-200 group-hover:opacity-0">AI</span>
          </button>
        </div>

      </div>
    </nav>
  </header>

  <main>
    <section class="hero">
      <div class="hero__bg__image__container">
        <img src="https://images.hdqwalls.com/download/2020-money-heist-netflix-nk-1920x1080.jpg" alt="BG hero image"
          class="hero__bg__image" />
      </div>
      <div class="hero__bg__overlay"></div>

      <div class="hero__card">
        <h1 class="hero__title">
          Unlimited Movies TV,
          Shows and More.
        </h1>
        <br>
        <p class="hero__subtitle">Watch anywhere and cancel anytime.</p>
        <p class="hero__description">
          Ready to watch? Enter your email to create or restart your
          membership .
        </p><br>
        <div class="email__form__container">
          <div class="form__container">
            <input type="email" class="email__input" placeholder=" " />
            <label class="email__label">Email Address</label>
          </div>
          <button class="primary__button">
            Get Started <i class="fal fa-chevron-right"></i>
          </button>
        </div>
        <div id="buttonss">
          <a href="./gpt.html" class="btn-23 gpt-search-btn">
            <span class="text gpt-search-btn">GPT Search</span>
            <span aria-hidden="" class="marquee">AI Search</span>
          </a>

          <a href="./indexa.html" class="btn-23">
            <span class="text">AI Recomendation</span>
            <span aria-hidden="" class="marquee">AI Recomd</span>
          </a>
        </div>
      </div>
    </section>

    <section class="features__container">
      <div class="feature">
        <div class="feature__details">
          <h3 class="feature__title">Enjoy on your TV.</h3>
          <h5 class="feature__sub__title">
            Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV,
            Blu-ray players and more.
          </h5>
        </div>
        <div class="feature__image__container">
          <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" alt="Feature image"
            class="feature__image" />
          <div class="feature__backgroud__video__container">
            <video autoplay="" loop="" muted="" class="feature__backgroud__video">
              <source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-in-0819.m4v"
                type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
      <!-- Feature 2 -->
      <div class="feature">
        <div class="feature__details">
          <h3 class="feature__title">
            Download your shows to watch offline.
          </h3>
          <h5 class="feature__sub__title">
            Save your favourites easily and always have something to watch.
          </h5>
        </div>
        <div class="feature__image__container">
          <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg"
            alt="Feature image" class="feature__image" />
          <div class="feature__2__poster__container">
            <div class="poster__container">
              <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png"
                alt="poster" class="poster" />
            </div>
            <div class="poster__details">
              <h4>Stranger Things</h4>
              <h6>Downloading...</h6>
            </div>
            <div class="download__gif__container">
              <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif"
                alt="downloading gif" class="gif" />
            </div>
          </div>
        </div>
      </div>
      <!-- Feature 3 -->
      <div class="feature">
        <div class="feature__details">
          <h3 class="feature__title">Watch everywhere.</h3>
          <h5 class="feature__sub__title">
            Stream unlimited movies and TV shows on your phone, tablet,
            laptop, and TV.
          </h5>
        </div>
        <div class="feature__image__container feature__3__image__container">
          <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png"
            alt="Feature image" class="feature__image feature__3__image" />
          <div class="feature__backgroud__video__container feature__3__backgroud__video__container">
            <video autoplay="" loop="" muted="" class="feature__backgroud__video feature__3__backgroud__video">
              <source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices-in.m4v"
                type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
      <!-- Feature 4 -->
      <div class="feature">
        <div class="feature__details">
          <h3 class="feature__title">Create profiles for children.</h3>
          <h5 class="feature__sub__title">
            Send children on adventures with their favourite characters in a
            space made just for them—free with your membership.
          </h5>
        </div>
        <div class="feature__image__container">
          <img
            src="https://occ-0-4023-2164.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABVxdX2WnFSp49eXb1do0euaj-F8upNImjofE77XStKhf5kUHG94DPlTiGYqPeYNtiox-82NWEK0Ls3CnLe3WWClGdiJP.png?r=5cf"
            alt="Feature image" class="feature__image" />
        </div>
      </div>
    </section>

    <section class="FAQ__list__container">
      <h1 class="FAQ__heading">Frequently Asked Questions</h1>
      <div class="FAQ__list">
        <div class="FAQ__accordian">
          <button class="FAQ__title">
            What is Netflix?<i class="fal fa-plus"></i>
          </button>
          <div class="FAQ__visible">
            <p>
              Netflix is a streaming service that offers a wide variety of
              award-winning TV shows, movies, anime, documentaries and more –
              on thousands of internet-connected devices.
            </p>
            <p>
              You can watch as much as you want, whenever you want, without a
              single ad – all for one low monthly price. There's always
              something new to discover, and new TV shows and movies are added
              every week!
            </p>
          </div>
        </div>
        <div class="FAQ__accordian">
          <button class="FAQ__title">
            How much does netflix cost?<i class="fal fa-plus"></i>
          </button>
          <div class="FAQ__visible">
            <p>
              Watch Netflix on your smartphone, tablet, Smart TV, laptop, or
              streaming device, all for one fixed monthly fee. Plans range
              from ₹ 199 to ₹ 799 a month. No extra costs, no contracts.
            </p>
          </div>
        </div>
        <div class="FAQ__accordian">
          <button class="FAQ__title">
            Where can i watch?<i class="fal fa-plus"></i>
          </button>
          <div class="FAQ__visible">
            <p>
              Watch anywhere, anytime, on an unlimited number of devices. Sign
              in with your Netflix account to watch instantly on the web at
              netflix.com from your personal computer or on any
              internet-connected device that offers the Netflix app, including
              smart TVs, smartphones, tablets, streaming media players and
              game consoles.
            </p>
            <p>
              You can also download your favourite shows with the iOS,
              Android, or Windows 10 app. Use downloads to watch while you're
              on the go and without an internet connection. Take Netflix with
              you anywhere.
            </p>
          </div>
        </div>
        <div class="FAQ__accordian">
          <button class="FAQ__title">
            How do I cancel?<i class="fal fa-plus"></i>
          </button>
          <div class="FAQ__visible">
            <p>
              Netflix is flexible. There are no annoying contracts and no
              commitments. You can easily cancel your account online in two
              clicks. There are no cancellation fees – start or stop your
              account anytime.
            </p>
          </div>
        </div>
        <div class="FAQ__accordian">
          <button class="FAQ__title">
            What can I watch from Netflix?<i class="fal fa-plus"></i>
          </button>
          <div class="FAQ__visible">
            <p>
              Netflix has an extensive library of feature films,
              documentaries, TV shows, anime, award-winning Netflix originals,
              and more. Watch as much as you want, anytime you want.
            </p>
          </div>
        </div>
        <div class="FAQ__accordian">
          <button class="FAQ__title">
            Is Netflix good for kids?<i class="fal fa-plus"></i>
          </button>
          <div class="FAQ__visible">
            <p>
              The Netflix Kids experience is included in your membership to
              give parents control while kids enjoy family-friendly TV shows
              and films in their own space.
            </p>
            <p>
              Kids profiles come with PIN-protected parental controls that let
              you restrict the maturity rating of content kids can watch and
              block specific titles you don’t want kids to see.
            </p>
          </div>
        </div>
      </div>
      <div class="FAQ__get__started__email">
        <h3>
          Ready to watch? Enter your email to create or restart your
          membership.
        </h3>
        <div class="email__form__container">
          <div class="form__container">
            <input type="email" class="email__input" placeholder=" " />
            <label class="email__label">Email Address</label>
          </div>
          <button class="primary__button">
            Get Started <i class="fal fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </section>

  </main>

  <footer>
    <div class="footer__row__1">
      <h4>Questions? Call 000-800-040-1843</h4>
    </div>
    <div class="footer__row__2">
      <div class="column__1">
        <p>FAQ</p>
        <p>Investor Relations</p>
        <p>Privacy</p>
        <p>Speed Test</p>
      </div>
      <div class="column__2">
        <p>Help Centre</p>
        <p>Jobs</p>
        <p>Cookie Preferences</p>
        <p>Legal Notices</p>
      </div>
      <div class="column__3">
        <p>Account</p>
        <p>Ways to Watch</p>
        <p>Corporate Information</p>
        <p>Only on Netflix</p>
      </div>
      <div class="column__4">
        <p>Media Centre</p>
        <p>Terms of Use</p>
        <p>Contact Us</p>
      </div>
    </div>
    <div class="footer__row__3">
      <div class="dropdown__container">
        <i class="fas fa-globe"></i>
        <select name="languages" id="languagesSelect" class="language__drop__down">
          <option value="english" selected>English</option>
          <option value="hindi">हिन्दी</option>
        </select>
      </div>
    </div>
    <div class="footer__row__4">
      <p>Netflix India</p>
    </div>
  </footer>

  <script src="../static/index.js"></script>
</body>

</html>